<%- include('./partials/head.ejs')%>
<%- include('./partials/nav.ejs')%>
    <h2>Not Found!</h2>
    <p>Change url.</p>
    <pre>
        This is a 404.ejs file
    </pre>
<%- include('./partials/footer.ejs')%>
