<%- include('./partials/head.ejs')%>
<%- include('./partials/nav.ejs')%>

    <h3>Create blog</h3>
    <p>This is kunal</p>

    <pre>
        This is a create.ejs file.
    </pre>
<%- include('./partials/footer.ejs')%>