<%- include('./partials/head.ejs')%>
<%- include('./partials/nav.ejs')%>
    <h2>Hello</h2>
    <p>This is Kunal.</p>
    <pre>
        This is a index.ejs file
    </pre>
<%- include('./partials/footer.ejs')%>
